<!DOCTYPE html>
<html>
  <head>
    <title>FORKPITCH</title>

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" type="image/png" href="views/pf.png" />
  </head>
  <body>
    <!-- navigation bar -->
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">FORKPITCH</a>
        <ul class="right hide-on-med-and-down">
          <li><a class="nav-links" href="/">Home</a></li>
          <li>
            <% if (user) { %>
            <a class="nav-links" href="/myreviews">My Reviews</a>
            <% } %>
          </li>
          <li>
            <% if (user) { %>
            <a class="nav-links" href="/logout"
              ><i class="material-icons left">trending_flat</i>Log Out</a
            >
            <% } else { %>
            <a class="nav-links" href="/auth/google"
              ><i class="material-icons left">vpn_key</i>Login with Google</a
            >
            <% } %>
          </li>
        </ul>
      </div>
    </nav>

    <!-- welcome msg  -->
    <% if (user) { %>
    <div class="welcome"><h5>Hey, <%= user.name %>!</h5></div>
    <% } %>

    <!-- search bar  -->
    <main>
      <form action="/" method="GET">
        <div class="container">
          <div class="row">
            <div class="input-field col s11">
              <i class="material-icons prefix">search</i>
              <input
                id="search"
                name="searchTerm"
                type="search"
                class="validate"
                placeholder="Search Pitchfork"
                value="<%= searchTerm %>"
              />
            </div>
            <div class="input-field col s1">
              <button type="submit" class="input-group-addon btn">
                search
              </button>
            </div>
          </div>
        </div>
      </form>
      <!-- show cards for each reviews when searched -->

      <div class="row">
        <% if (reviews) { %> <% reviews.forEach(function(review) { %>
        <div class="col s3">
          <div class="card medium">
            <div class="card-image">
              <img class="image" src="<%= review.cover %>" alt="<%= review.fullName %>" />
              <div class="overlay">
                <p class="score"><%= review.score %></p>
                </a>
              </div>
            </div>
            <div class="card-content">
              <p><%= review.title %></p>
            </div>
            <div class="card-action">
              <% if (user) { %>

              <a href="/" class="waves-effect waves-light btn btn-small"
                ><i class="material-icons left">add</i>add</a
              >
              <% } else { %>
              <a
                href="/auth/google"
                class="waves-effect waves-light btn btn-small"
                ><i class="material-icons left">add</i>add</a
              >
              <% } %>

              <a
                href="/show/<%= review._id %>"
                class="waves-effect waves-light btn btn-small"
                ><i class="material-icons left">chat</i>view</a
              >
            </div>
          </div>
        </div>
        <% })} %>
      </div>
    </main>

    <!--  footer  -->
  </body>
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container center">
        Created by Tiffany Bouchard
      </div>
    </div>
  </footer>
</html>
