<!DOCTYPE html>
<html>
  <head>
    <title>Forkpitch</title>

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" type="image/png" href="views/pf.png" />
    <link rel="icon" href="pf.png" />
  </head>
  <body>
    <!-- navigation bar -->
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Forkpitch</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li>
            <% if (user) { %>
            <a href="/myreviews">My Reviews</a>
            <% } %>
          </li>
          <li>
            <% if (user) { %>
            <a href="/logout"
              ><i class="material-icons left">trending_flat</i>Log Out</a
            >
            <% } else { %>
            <a href="/auth/google"
              ><i class="material-icons left">vpn_key</i>Login with Google</a
            >
            <% } %>
          </li>
        </ul>
      </div>
    </nav>

    <!-- welcome msg  -->
    <% if (user) { %> <% const fullName = user.name %> <% const firstName =
    fullName.substr(0, 7); %>
    <div class="welcome"><h5>Hey, <%= firstName %>!</h5></div>
    <% } %>

    <!-- search bar  -->
    <main>
      <form action="/" method="GET">
        <div class="container">
          <div class="row">
            <div class="input-field col s11">
              <i class="material-icons prefix">search</i>
              <input
                id="search"
                name="searchTerm"
                type="search"
                class="validate"
                placeholder="Search Pitchfork"
                value="<%= searchTerm %>"
              />
            </div>
            <div class="input-field col s1">
              <button type="submit" class="input-group-addon btn">
                search
              </button>
            </div>
          </div>
        </div>
      </form>
      <!-- show cards for each reviews when searched -->

      <div class="row">
        <% if (results) { %> <% results.forEach(function(r) { %> <% const review
        = r.truncated() %>
        <div class="col s3">
          <div class="card small">
            <div class="card-image">
              <img src="<%= review.cover %>" alt="<%= review.title %>" />
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p><%= review.title %> <%= review.score %></p>
            </div>
            <div class="card-action">
              <a href="#">Add to My Reviews</a>
              <!-- if not a user the button will redirect them to log in with google -->
            </div>
          </div>
        </div>
        <% })} %>
      </div>
    </main>
    <!--  footer  -->
  </body>
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        Created by Tiffany Bouchard
        <a class="grey-text text-lighten-4 right" href="#!">Home</a>
        <a class="grey-text text-lighten-4 right" href="/">My Reviews</a>
      </div>
    </div>
  </footer>
</html>
