<!DOCTYPE html>
<html>
  <head>
    <title>Forkpitch</title>

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" type="image/png" href="views/pf.png" />
  </head>
  <body>
    <!-- navigation bar -->
    <div class="navigation">
      <a href="/" class="header">Forkpitch</a>
      <ul class="main-navlinks">
        <li><a href="/" class="navlinks">HOME</a></li>
        <li>
          <% if (user) { %>
          <a class="navlinks" href="/myreviews">MY REVIEWS</a>
          <% } %>
        </li>
        <li>
          <% if (user) { %>
          <a class="navlinks" href="/saved">SAVED</a>
          <% } %>
        </li>
        <li>
          <% if (user) { %>
          <a class="navlinks" href="/logout">LOG OUT</a>
          <% } else { %>
          <a class="navlinks" href="/auth/google">LOGIN</a>
          <% } %>
        </li>
        <li>
          <a href="/search"><i class="material-icons search">search</i></a>
        </li>
      </ul>
    </div>

    <main>
      <!-- Most recent reviews -->
      <div class="recent-user-reviews">
        <h6 class="heading2">LATEST USER REVIEWS</h6>
        <div class="recent-reviews">
          <% if (userReviews) { %> <% userReviews.forEach(function(review) { %>
          <a href="/show/<%= review.pitchforkReview.id %>/#userreviews">
            <div class="user-review-card">
              <img
                class="album-cover"
                src="<%= review.pitchforkReview.cover %>"
              />
              <div class="details">
                <h6 class="heading3"><%= review.pitchforkReview.artist %></h6>
                <h6 class="heading4"><%= review.pitchforkReview.album %></h6>
                <p>"<%= review.content %>"</p>
                <p class="author">By: <%= review.name %></p>
                <p class="date"><%= review.createdAt.toDateString() %></p>
              </div>
            </div>
          </a>
          <% })} %>
        </div>
      </div>

      <div class="recent-user-reviews">
        <h6 class="heading2">LATEST PITCHFORK REVIEWS</h6>
        <div class="recent-reviews">
          <% if (userReviews) { %> <% userReviews.forEach(function(review) { %>
          <a href="/show/<%= review.pitchforkReview.id %>">
            <div class="user-review-card">
              <img
                class="album-cover"
                src="<%= review.pitchforkReview.cover %>"
              />
              <div class="details">
                <h6 class="heading3"><%= review.pitchforkReview.artist %></h6>
                <h6 class="heading4"><%= review.pitchforkReview.album %></h6>
                <p>"<%= review.content %>"</p>
                <p class="author">By: <%= review.name %></p>
                <p class="date"><%= review.createdAt.toDateString() %></p>
              </div>
            </div>
          </a>
          <% })} %>
        </div>
      </div>
    </main>

    <!--  footer  -->
  </body>
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="footer container center">
        <p>
          CREATED BY
          <a href="https://tiffbouchard.com" target="blank" class="footer-links"
            >TIFFANY BOUCHARD</a
          >
          / CREDIT TO
          <a href="https://pitchfork.com" target="blank" class="footer-links"
            >PITCHFORK</a
          >
        </p>
      </div>
    </div>
  </footer>
</html>
