<!DOCTYPE html>
<html>
  <head>
    <title>Forkpitch</title>

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" type="image/png" href="views/pf.png" />
  </head>
  <body>
    <!-- navigation bar -->
    <div class="navigation">
      <a href="/" class="header">Forkpitch</a>
      <ul class="main-navlinks">
        <li><a href="/" class="navlinks">HOME</a></li>
        <li>
          <% if (user) { %>
          <a class="navlinks" href="/myreviews">MY REVIEWS</a>
          <% } %>
        </li>
        <li>
          <% if (user) { %>
          <a class="navlinks" href="/saved">SAVED</a>
          <% } %>
        </li>
        <li>
          <% if (user) { %>
          <a class="navlinks" href="/logout">LOG OUT</a>
          <% } else { %>
          <a class="navlinks" href="/auth/google">LOGIN</a>
          <% } %>
        </li>
        <li>
          <a href=""><i class="material-icons search">search</i></a>
        </li>
      </ul> 
    </div>

    <!-- details -->
    <main>
      <div class="container">
        <section id="review-details">
          <img
            id="show-cover"
            src="<%= review.cover %>"
            alt="<%= review.name %>"
          />
          <h4><%= review.title %></h4>
          <h5>Critic Rating: <%= review.score %></h5>
          <% if (userReviews.length) { %> <% const userRatings = []; %> <%
          userReviews.forEach(function (u) { %> <% userRatings.push(u.rating);
          %> <% }); %> <% total = userRatings.reduce((acc, c) => acc + c, 0); %>
          <% average = total / userRatings.length; %> <% rounded =
          Math.round(average * 10)/10; %>
          <h5>User Rating: <%= rounded %></h5>
          <% } else { %>
          <h5>User Rating: -</h5>
          <% } %>
          <p>by <%= review.author %> on <%= review.date %></p>
          <div id="review-content">
            <%= review.text %>
          </div>
          <div>
            <p>
              Read the rest on
              <a href="http://pitchfork.com<%= review.url %>" target="_blank"
                >Pitchfork</a
              >
            </p>
          </div>
        </section>

        <!-- add button  -->

        <% if (user) { %>

        <a href="/" class="waves-effect waves-light btn btn-small"
          ><i class="material-icons left">add</i>add</a
        >
        <% } else { %>
        <a href="/auth/google" class="waves-effect waves-light btn btn-small"
          ><i class="material-icons left">add</i>add</a
        >
        <% } %>
      </div>
      <!-- user review area -->
      <div class="container" id="userreviews">
      <h4>User Reviews</h4>
      <% if (userReviews.length) { %>
      <section>
        <% userReviews.forEach(function(u) { %>

        <ul class="collection">
          <li class="collection-item">
            <h6><%= u.name %></h6>
            <%= u.createdAt.toDateString() %>
            <br />
            <%= u.rating %>/10 -
            <%= u.content %>
            
            <% if (user && user.name === u.name) { %>

            <form
              action="/show/<%= review._id %>/<%= u._id %>/delete?_method=DELETE"
              class="delete-form"
              method="POST"
            >
              <button
                class="btn waves-effect waves-light right"
                type="submit"
                id="delete-review"
              >
                <i class="material-icons right">delete</i>Delete
              </button>
            </form>

            <form
              action="/show/<%= review._id %>/<%= u._id %>/edit?_method=PUT"
              class="edit-form"

              method="POST"
            >
              <button
                class="btn waves-effect waves-light right"
                type="submit"
                id="edit-review"
              >
                <i class="material-icons right">edit</i>Edit
              </button>
            </form>
            <% } %>
          </li>
        </ul>
      </section>
      <% })} else { %>

      <p>
        <i class="material-icons left">sentiment_very_dissatisfied</i> No
        Reviews Yet
      </p>

      <% } %>

      <!-- user review form  -->
      <h4>Add Review</h4>
      <% if (!user) { %>
      <p>Must be logged in to leave a review</p>
      <% } %>
      <form action="/show/<%= review._id %>" method="POST" class="col s5">
        <div class="row">
          <div class="input-field col s12">
            <% if (user) { %>
            <input name="name" type="text" value="<%= user.name %>" readonly />
            <% } else { %>
            <input name="name" type="text" placeholder="Name" disabled />
            <% } %>
          </div>
        </div>
        <div class="row">
          <% if (user) { %>
          <div class="input-field col s12">
            <textarea
              name="content"
              class="materialize-textarea"
              placeholder="Review"
            ></textarea>
          </div>
          <% } else { %>
          <div class="input-field col s12">
            <textarea
              name="content"
              class="materialize-textarea"
              placeholder="Review"
              disabled
            ></textarea>
          </div>
          <% } %>
        </div>
        <div class="row">
          <% if (user) { %>
          <div class="input-field col s12">
            <input
              name="rating"
              type="number"
              placeholder="Rating"
              min="0"
              max="10"
            />
          </div>
          <% } else { %>
          <div class="input-field col s12">
            <input
              name="rating"
              type="number"
              placeholder="Rating"
              min="0"
              max="10"
              disabled
            />
          </div>
          <% } %>
        </div>
        <div class="row">
          <% if (user) { %>

          <button
            class="btn waves-effect waves-light right"
            type="submit"
            name="action"
          >
            Submit
            <i class="material-icons right">send</i>
          </button>

          <% } else { %>
          <a href="/auth/google" class="btn waves-effect waves-light right"
            ><i class="material-icons right">send</i>Submit</a
          >
          <% } %>
        </div>
      </form>
    </main>
  </div>

    <!--  footer  -->
  </body>
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="footer container center">
          <p>CREATED BY <a href="https://tiffbouchard.com" target="blank" class="footer-links">TIFFANY BOUCHARD</a> / CREDIT TO <a href="https://pitchfork.com" target="blank" class="footer-links">PITCHFORK</a></p>
      </div>
    </div>
  </footer>
</html>
