<!DOCTYPE html>
<html>
  <head>
    <title>Forkpitch</title>

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" type="image/png" href="views/pf.png" />
  </head>
  <body>
    <!-- navigation bar -->
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Forkpitch</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li>
            <% if (user) { %>
            <a href="/myreviews">My Reviews</a>
            <% } %>
          </li>
          <li>
            <% if (user) { %>
            <a href="/logout"
              ><i class="material-icons left">trending_flat</i>Log Out</a
            >
            <% } else { %>
            <a href="/auth/google"
              ><i class="material-icons left">vpn_key</i>Login with Google</a
            >
            <% } %>
          </li>
        </ul>
      </div>
    </nav>

    <!-- details -->
    <main>
      <section id="review-details">
        <div id="cover">
          <img src="<%= review.cover %>" alt="<%= review.name %>" />
        </div>
        <div id="content">
          <h4><%= review.title %></h4>
          <h4><%= review.score %></h4>
          <!-- if review score is less than 5 show sad icon, if more than show happy -->
        </div>
        <div>
          <p>by <%= review.author %> on <%= review.date %></p>
        </div>
        <div id="review-content">
          <%= review.text %>
        </div>
        <div>
          <p>
            Read the rest on
            <a href="http://pitchfork.com<%= review.url %>" target="_blank"
              >Pitchfork</a
            >
          </p>
        </div>
      </section>
      <!-- follow button  -->

      <% if (user) { %>

      <a href="/" class="waves-effect waves-light btn btn-small"
        ><i class="material-icons left">add</i>add</a
      >
      <% } else { %>
      <a href="/auth/google" class="waves-effect waves-light btn btn-small"
        ><i class="material-icons left">add</i>add</a
      >
      <% } %>

      <!-- user review area -->
      <h4>User Reviews</h4>
      <% if (userReviews.length) { %>
      <section>
        <% userReviews.forEach(function(u) { %>
        <ul class="collection">
          <li class="collection-item">
            <h6><%= u.name %></h6>

            <%= u.createdAt %>
            <br />
            <%= u.rating %>
            <br />
            <%= u.content %> <% if (user && user.name === u.name) { %>
            <button>Delete</button>
            <button>Edit</button>
            <% } %>
          </li>
        </ul>
      </section>
      <% })} else { %>
      <p>No Reviews Yet</p>
      <% } %>

      <!-- if the user matches the user that wrote the comment, then show a delete button this delete button -->

      <!-- user review form  -->
      <h4>Add Review</h4>
      <% if (!user) { %>
      <p>Must be logged in to leave a review</p>
      <% } %>
      <form action="/show/<%= review._id %>" method="POST" class="col s5">
        <div class="row">
          <div class="input-field col s12">
            <% if (user) { %>
            <input name="name" type="text" value="<%= user.name %>" readonly />
            <% } else { %>
            <input name="name" type="text" placeholder="Name" disabled />
            <% } %>
          </div>
        </div>
        <div class="row">
          <% if (user) { %>
          <div class="input-field col s12">
            <textarea
              name="content"
              class="materialize-textarea"
              placeholder="Review"
            ></textarea>
          </div>
          <% } else { %>
          <div class="input-field col s12">
            <textarea
              name="content"
              class="materialize-textarea"
              placeholder="Review"
              disabled
            ></textarea>
          </div>
          <% } %>
        </div>
        <div class="row">
          <% if (user) { %>
          <div class="input-field col s12">
            <input
              name="rating"
              type="number"
              placeholder="Rating"
              min="0"
              max="10"
            />
          </div>
          <% } else { %>
          <div class="input-field col s12">
            <input
              name="rating"
              type="number"
              placeholder="Rating"
              min="0"
              max="10"
              disabled
            />
          </div>
          <% } %>
        </div>
        <div class="row">
          <% if (user) { %>

          <button
            class="btn waves-effect waves-light right"
            type="submit"
            name="action"
          >
            Submit
            <i class="material-icons right">send</i>
          </button>

          <% } else { %>
          <a href="/auth/google" class="btn waves-effect waves-light right"
            ><i class="material-icons right">send</i>Submit</a
          >
          <% } %>
        </div>
      </form>
    </main>

    <!--  footer  -->
  </body>
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container center">
        Created by Tiffany Bouchard
      </div>
    </div>
  </footer>
</html>
