<!DOCTYPE html>
<html>
  <head>
    <title>Forkpitch</title>

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" type="image/png" href="views/pf.png" />
    <link rel="icon" href="pf.png" />
  </head>
  <body>
    <!-- navigation bar -->
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Forkpitch</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li>
            <% if (user) { %>
            <a href="/myreviews">My Reviews</a>
            <% } %>
          </li>
          <li>
            <% if (user) { %>
            <a href="/logout"
              ><i class="material-icons left">trending_flat</i>Log Out</a
            >
            <% } else { %>
            <a href="/auth/google"
              ><i class="material-icons left">vpn_key</i>Login with Google</a
            >
            <% } %>
          </li>
        </ul>
      </div>
    </nav>

    <!-- details -->
    <main>
      <section id="review-details">
        <div id="cover">
          <img src="<%= review.cover %>" alt="<%= review.name %>" />
        </div>
        <div id="content">
          <h4><%= review.title %></h4>
          <h4><%= review.score %></h4>
          <!-- if review score is less than 5 show sad icon, if more than show happy -->
        </div>
        <div>
          <p>by <%= review.author %> on <%= review.date %></p>
        </div>
        <div id="review-content">
          <%= review.text %>
        </div>
        <div>
          <p>
            Read the rest on
            <a href="http://pitchfork.com<%= review.url %>" target="_blank"
              >Pitchfork</a
            >
          </p>
        </div>
      </section>
      <!-- follow button  -->
      <a href="/" class="waves-effect waves-light btn btn-small"
        ><i class="material-icons left">add</i>follow</a
      >

      <!-- if comments show them here -->
      <h4>User Reviews</h4>
      <!-- if no reviews show No User Reviews yet -->

      <!-- comment form  -->
      <h4>Add Review</h4>
      <form class="col s5">
        <div class="row">
          <div class="input-field col s5">
            <input type="text" placeholder="Name" />
          </div>
        </div>
        <div class="row">
          <div class="input-field col s5">
            <textarea
              class="materialize-textarea"
              placeholder="Review"
            ></textarea>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s5">
            <input type="number" placeholder="Rating" min="0" max="10" />
          </div>
        </div>
        <div class="row">
          <button
            class="btn waves-effect waves-light"
            type="submit"
            name="action"
          >
            Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
    </main>

    <!--  footer  -->
  </body>
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        Created by Tiffany Bouchard
        <a class="grey-text text-lighten-4 right" href="#!">Home</a>
        <a class="grey-text text-lighten-4 right" href="/">My Reviews</a>
      </div>
    </div>
  </footer>
</html>
